# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
.env

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs & Misc
*.log
*.tmp
*.cache
